.footer{
	padding: 110px 0 125px 0;
	background: $footer;
	&__box{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__headline{
		font-family: 'BebasNeue Bold', sans-serif;
		text-transform: uppercase;
		font-size: 48px;
		margin-bottom: 18px;
		color:$white;
	}
	&__text{
		font-family: 'BebasNeue Thin', sans-serif;
		font-size: 30px;
		color:$white;
	}
}

@media (max-width: 768px){
	.footer{
		padding: 20px 0 50px 0;
	}

}