html{
	overflow-x: hidden;
}

.container{
	max-width: 1500px;
}

body{
	max-width: 2005px;
	position: relative;
	left: 0;
	margin: 0 auto;	
	background: $bg-color;
	font-family: 'BebasNeue Regular', sans-serif;
	overflow-x: hidden;
	
}    

.btn{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	padding: 20px 70px;	
	font-family: 'BebasNeue Regular', sans-serif;
	font-size: 30px;
	border-width:2px;
	background: transparent;
	text-transform: uppercase;
	color:$white; 
	cursor: pointer;
	transition: 0.4s;
	&:hover{
		background-color: darken($bg-color,10%);	
	}
	&--lighten:hover{
		background-color: lighten($bg-color,10%);	
	}
	&--black{
		color:$black;
		border-color:$black;
	}
}

#go-top{
	position: fixed; 
	bottom: 25px; 
	right: 30px;
	text-align: center;
	cursor:pointer; 
	display:none;
	width: 80px;
	height: 30px;
	background: #c0c0c0;
	line-height: 30px;
	border-radius: 5px;
	text-decoration: none;
	color: #000;
	&:hover{
		background: #333;
		color: #fff;
	}
}

@media (max-width: 1500px){
	.container{
		max-width: 1200px;
	}
}
